<%-include ("partials/header.ejs")%>
<html>
<body>
    <div class="wrapper">
        <!-- NEW DATA INPUT FORM -->
        <form action="/new-transaction" method="POST">
            <input type="text" id="name" name="name" placeholder="Name of transaction" value="<%=locals.transaction?transaction.name:""%>" required>
            <select name="category" id="category" required>
                <option value="in" <%= locals.transaction && transaction.category === "in" ? 'selected' : '' %>>Money in</option>
                <option value="out" <%= locals.transaction && transaction.category === "out" ? 'selected' : '' %>>Money out</option>
            </select>
            <input type="amount" id="amount" name="amount" placeholder="Amount of transaction" value="<%=locals.transaction?transaction.amount<0?transaction.amount*-1:transaction.amount:""%>" required>
            
            <button type="submit" formaction="<%= locals.transaction ? '/update-transaction/' + transaction.id : '/new-transaction' %>">
                <%= locals.transaction ? 'Edit' : 'Add' %> transaction
            </button>
        </form>
        <!-- SORTING FORM -->
        <form action="/" method="POST">
            <select name="field" id="field" required>
                <option value="" disabled selected>Select a Field</option>
                <option value="date">Date</option>
                <option value="category">Category</option>
                <option value="amount">Amount</option>
                <option value="name">Name</option>
            </select>

            <select name="order" id="order" required>
                <option value="" disabled selected>Select an Order</option>
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>

            <button type="submit">Sort</button>
        </form>
        <!-- BALANCE DISPLAY -->
        <div class="balance">
            <p>Balance: £<%if(locals.balance){%>
                    <%=locals.exchange_rate?balance*exchange_rate:balance%>
                <%}%>
            </p>
            <form action="/currency-exchange" method="POST">
                <select name="currency" id="currency" required>
                    <option value="" disabled selected>Select currency</option>
                    <option value="GBP">GBP</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                </select>
    
                <button type="submit">Select</button>
            </form>
        </div>
        <!-- TRANSACTIONS FIELD -->
        <div class="transactions">
            <% if (locals.transactions) {
                for (let index = 0; index < transactions.length; index++) {%>
                    <div class="transaction">
                        <div class="<%=transactions[index].category == "in"?"in transaction-wrapper":"out transaction-wrapper"%>">
                            <div class="name"><p><%=transactions[index].name%></p></div>
                            <div class="amount"><p>£<%=transactions[index].amount%></p></div>
                        </div>
                        <form action="/delete/<%=transactions[index].id%>" method="POST">
                            <button class="delete-edit" type="submit">-</button>
                        </form>
                        <form action="/edit/<%=transactions[index].id%>" method="POST">
                            <button class="delete-edit" type="submit">⚙️</button>
                        </form>
                    </div>
                <%}%>
            <%}else{%>
                <div class="transaction-wrapper">
                    <p>No existing transactions!</p>
                </div>
            <%}%>
        </div>  


    </div>
</body> 
</html>
<%-include ("partials/footer.ejs")%>